<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbGVxbVBXcUtWU3Bhem1LTV9BZWdydnFfUWdVd3xBQ3Jtc0ttdjFsS3FNTnFJOXhWUlNZaFVvTFVHcWR0d3YxWGJDZkJneDlEczFKeE5TT250UVc1dEk2cFIybktJaDZKcVQ0QjNFS2gtUmdVdGxwcVlVZGwyajgtbUpWZTBTTnlHSnRySDhuUkF3blNsRlcxdWp4dw&q=https%3A%2F%2Fcdn.socket.io%2Fsocket.io-3.0.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Socket</title>
</head>
<body>
    <input type="text" id="message">
    <button onclick="sendMessage()">Send Message</button>
    <script>
        const socket = io('http://localhost:3000')
        socket.on('connection');

        socket.on('message', (data)=>{
            document.querySelector('h1').innerHTML = data;
        })

        const sendMessage = () =>{
            const data = document.getElementById("message").value;

            socket.emit("message", data);
            // document.querySelector('h1').innerHTML = data;
        }
        </script>
        <h1></h1>

</body>
</html>